<%- include('partials/header.ejs') %>
      <div class="container">
        <h1 class="title">Your Collection</h1>
        <div class="books-area">
          <% if(locals.results) { %> <% results.forEach(book => { %>
            <a href="/book/<%= book.id %>">
              <img
                    src="<% if(book.bookCover !== 'unavailable') { %><%='data:image/jpeg;base64,' + book.bookCover %><% } else { %><%= 'assets/svgs/cover-unavailable.svg' %><% } %>"
                    alt="Book Cover"
                />
              <div>
                <p>
                  <% if (book.title.length < 31) { %>
                    <%= book.title %>
                  <% } else { %>
                    <%= book.title.slice(0, 30) + "..." %>
                  <% } %>
                </p>
                <% if (book.rating !== null) { %>
                  <div class="rating-zone">
                    <p><%=book.rating%></p>
                    <img id="book-rating" src="/assets/svgs/star-solid.svg" alt="">
                  </div>
                <% } %>
              </div>
            </a>
          <%} ); %> <% } %>

          <div class="add-book-btn">
            <!-- <img id="plus-icon" src="assets/svgs/plus.svg" alt="" /> -->
            <a href="/search"><button><img id="plus-icon" src="assets/svgs/plus.svg" alt="" /></button></a>
          </div>
        </div>
      </div>
<%- include('partials/footer.ejs') %>
