<%- include('partials/header.ejs') %>
      <div class="container note-container">
        <% if(locals.noteText) { %>
          <form class="note-form" action="/edit-note/<%=noteId%>" method="post">
            <label for="note">Note:</label>
            <input type="hidden" name="bookId" value="<%=bookId%>">
            <input type="hidden" name="noteId" value="<%=noteId%>">
            <textarea id="note" name="note" rows="16" cols="100" maxlength="1000"><%=noteText%></textarea>
            <button type="submit">submit</button>
        </form>
        <% } else { %>
          <form class="note-form" action="/note" method="post">
              <label for="note">Note:</label>
              <input type="hidden" name="bookId" value="<%=bookId%>">
              <textarea id="note" name="note" rows="16" cols="100" maxlength="1000"></textarea>
              <button type="submit">submit</button>
          </form>
        <% } %>
      </div>
<%- include('partials/footer.ejs') %>