<%- include('partials/header.ejs') %>
      <div class="container">
        <div class="books-area">
          <div class="add-book-btn">
            <!-- <img id="plus-icon" src="assets/svgs/plus.svg" alt="" /> -->
          </div>
        </div>
        <% if(locals.results) { %> <% results.forEach(book => { %>
        <form action="/add" method="post">
          <input
            type="image"
            src="<% if(book.bookCover !== "unavailable") { %><%="data:image/jpeg;base64," + book.bookCover %><% } else { %> <%= "assets/svgs/cover-unavailable.svg" %><% } %>"
            alt="Book Cover"
            onclick="this.form.submit()"
          />
          <p><%=book.title%></p>
          <input
            type="hidden"
            ,
            name="title"
            ,
            value="<% if(book.title !== undefined) { %><%= book.title %><% } %>"
          />
          <input
            type="hidden"
            ,
            name="author"
            ,
            value="<% if(book.author !== undefined) { %><%= book.author[0] %><% } %>"
          />
          <input
            type="hidden"
            ,
            name="oclc"
            ,
            value="<% if(book.oclc !== undefined) { %><%= book.oclc[0] %><% } %>"
          />
        </form>
        <%} ); %> <% } %>
      </div>
<%- include('partials/footer.ejs') %>